/* Start Styling */

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Couriel New;
}
 html,body {
 	height: 100%
 }

 /* Navbar*/
 nav {
 	display: flex;
 	flex-wrap: wrap;
 	flex-basis: auto;
 	flex-shrink: 1;
 	flex-grow: 100%;
 	align-items: center;
 	width: 100%;
 	background: #0984e3;
 	position: relative;
 	height: 70px;

 }

 nav a img {
 	width: 100px;
 	height: 50px;
 	margin-left: 20px;
 	margin-top: 8px

 }
 .mainul {
 	display: flex;
 	margin: 0px 5px;

}

.mainul li {
	list-style: none;
	margin: 0px 6px;
	width: 100px;

}
.mainul li a {
	font-size: 20px;
	text-decoration: none;
	color: #dfe6e9;
	padding: 25px 25px;
	font-weight: bold;
	margin-left: 50px;

}
.mainul li a:hover{
	background: #74b9ff;
	color: black;
}

/* dropdown */
.dropdown{
	position: relative;
	display: inline-block;
	margin-left: auto;
	margin-right: 6px;
}
.dropdown-list {
	position: absolute;
	margin-top: 3px;
	right: 0px;
	background: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	text-align: center;
	display: none;

}

.dropbtn {
	margin: 10px;
	padding: 4px;
	cursor: pointer;
}
.dropdown-list a{
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	margin-top: 10px;
}
.dropdown-list a:hover{
	background: #74b9ff;
}

.dropdown:hover .dropdown-list{
	display: block;
}

/* Main */

main {
	display: grid;
	grid-template-columns: 79% 20%;
	grid-template-rows: auto;
	grid-column-gap:  1%;
	margin-top: 10px;
	min-height: 100%
}

.p-articales{
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: auto;
	grid-gap:  6px 0px;
	background: #dfe6e9;
	padding: 8px;
	
}
.articale{
    border: 2px solid;
    padding: 8px;
}

.sidebar{
	background: #b2bec3;
	padding: 8px;
    border: 1px solid;


}

/* Footer*/
footer{
   display: flex;
   justify-content: center;
   position:fixed;
   bottom:0px;
   height:30px;
   width:100%;
   background: black;
   color: white;
}
